{% load static %}

<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Eduardo Saavedra">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="{% static 'recicladora/assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'recicladora/assets/js/script.js' %}"></script>


	<link rel="stylesheet" href="{% static 'recicladora/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'recicladora/assets/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'recicladora/assets/css/style.css' %}">
	<title>Centro de Acopio Villa Hermosa</title>

</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<a href="#"><img src="{% static 'recicladora/assets/img/logo.png' %}" alt="Centro de Acopio Villa Hermosa"></a>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<nav class="navbar navbar navbar-expand-lg navbar-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggler">
						<ul class="nav">
							<li class=""><a href="{% url 'index' %}"> Inicio </a></li>
							<li><a href="{% url 'servicios' %}"> Servicios </a></li>
							<li><a href="{% url 'como_reciclar' %}"> Cómo Reciclar </a></li>
							<li><a href="{% url 'galeria' %}"> Galería </a></li>
							<li><a href="{% url 'nosotros' %}"> Nosotros </a></li>
							<li><a href="{% url 'contacto' %}"> Contácto </a></li>
						</ul>
					</div>
					<div class="social">
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><img src="{% static 'recicladora/assets/img/fb-logo.png' %}" alt="Facebook"></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><img src="{% static 'recicladora/assets/img/ig-logo.png' %}" alt="Instagram"></a>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<section class="galeria">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h5>En centro de Acopio Villa Hermosa Sembramos Vida</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_1.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_2.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_3.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_4.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_5.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_6.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_7.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_8.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_9.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_10.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_11.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_12.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_13.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_14.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_15.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_16.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_17.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_18.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_19.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_20.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_21.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_22.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_23.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_24.jpg' %}" alt="">
				</div>
			</div>

			<div class="row galery-img last-img">
				<div class="col-md-4 ">
					<img class="img-fluid galeria-img" src="{% static 'recicladora/assets/img/gal_25.jpg' %}" alt="">
				</div>
				<div class="col-md-4 ">
				</div>
				<div class="col-md-4 ">
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container footer-grande">
			<div class="row">
				<div class="col-md-5">
				<div class="row">
					<a href="#"><img id="logo-footer" src="{% static 'recicladora/assets/img/logo_2.png' %}" alt="Centro de Acopio Villa Hermosa"></a></div>
					<div class="row">
						<div id="desarrolladoPor"><span><p>Desarrollado por:</p></span>
							<span><a href="#"><img src="{% static 'recicladora/assets/img/logo_pmd.svg' %}" alt="Centro de Acopio Villa Hermosa"></a></span>
						</div>
					</div>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-5">
					<ul class="contacto-footer">
						<a href="tel:+573209042934"><li class="icon-what"> <span> + 57 320 904 2934 </span></li></a>
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><li class="icon-face"> <span> RecicladoraVillaHermosa </span></li></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><li class="icon-insta"> <span> Recicladora_Villa_Hermosa </span></li></a>
						<a href="https://twitter.com/recicladora2" target="_blank"><li class="icon-twi"> <span> @recicladora2 </span></li></a>
						<a href="https://www.youtube.com/channel/UCvoWJWe_-9oYz__GDFuj8uQ" target="_blank"><li class="icon-you"> <span> Centro de Acopio Villa Hermosa </span></li></a>
					</ul>
			</div>


			</div>

		</div>

		<div class="container footer-peque">
			<div class="row">
				<div class="col-md-5">
					<ul class="contacto-footer">
						<a href="tel:+573209042934"><li class="icon-what"> <span> + 57 320 904 2934 </span></li></a>
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><li class="icon-face"> <span> RecicladoraVillaHermosa </span></li></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><li class="icon-insta"> <span> Recicladora_Villa_Hermosa </span></li></a>
						<a href="https://twitter.com/recicladora2" target="_blank"><li class="icon-twi"> <span> @recicladora2 </span></li></a>
						<a href="https://www.youtube.com/channel/UCvoWJWe_-9oYz__GDFuj8uQ" target="_blank"><li class="icon-you"> <span> Centro de Acopio Villa Hermosa </span></li></a>
					</ul>

				</div>

				<div class="col-md-2"></div>
				<div class="col-md-5">

					<div class="row">
						<a href="#"><img id="logo-footer" src="{% static 'recicladora/assets/img/logo_2.png' %}" alt="Centro de Acopio Villa Hermosa"></a></div>
						<div class="row">
							<div id="desarrolladoPor"><span><p>Desarrollado por:</p></span>
								<span><a href="#"><img src="{% static 'recicladora/assets/img/logo_pmd.svg' %}" alt="Centro de Acopio Villa Hermosa"></a></span>
							</div>
						</div>
			</div>



			</div>

		</div>

	</footer>


</body>
</html>
