{% load static %}

<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Eduardo Saavedra">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="{% static 'recicladora/assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'recicladora/assets/js/script.js' %}"></script>


	<link rel="stylesheet" href="{% static 'recicladora/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'recicladora/assets/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'recicladora/assets/css/style.css' %}">
	<title>Centro de Acopio Villa Hermosa</title>

</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<a href="#"><img src="{% static 'recicladora/assets/img/logo.png' %}" alt="Centro de Acopio Villa Hermosa"></a>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<nav class="navbar navbar navbar-expand-lg navbar-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggler">
						<ul class="nav">
							<li class=""><a href="{% url 'index' %}"> Inicio </a></li>
							<li><a href="{% url 'servicios' %}"> Servicios </a></li>
							<li><a href="{% url 'como_reciclar' %}"> Cómo Reciclar </a></li>
							<li><a href="{% url 'galeria' %}"> Galería </a></li>
							<li><a href="{% url 'nosotros' %}"> Nosotros </a></li>
							<li><a href="{% url 'contacto' %}"> Contácto </a></li>
						</ul>
					</div>
					<div class="social">
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><img src="{% static 'recicladora/assets/img/fb-logo.png' %}" alt="Facebook"></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><img src="{% static 'recicladora/assets/img/ig-logo.png' %}" alt="Instagram"></a>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<section id="nosotros">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h6>Historia</h6>
					<p>Somos una empresa con 10 años de experiencia en el manejo de residuos,
					realizando un previo proceso de selección, clasificación, transporte y comercialización
					de toda clase de residuos reciclables, la experiencia adquirida
					durante estos años, nos ha dado la capacidad de ofrecer un servicio efectivo
					de manejo y calidad en cada uno de nuestros procesos.</p>

					<h6>Misión</h6>
					<p>Ser líderes en la recuperación de todo tipo de material reciclable, comprando,
					recolectando y ofreciendo soluciones ambientales técnicas en el
					manejo y disposición final de residuos reciclables, contribuyendo mediante
					procesos de calidad a la obtención de beneficios reflejados en el medio ambiente.</p>

					<h6>Visión</h6>
					<p>Ser reconocidos como una empresa con alta calidad en el manejo de materiales
					reciclables, alcanzando a través del trabajo realizado beneficios integrales
					a todos sus colaboradores y directivos, ser la empresa más innovadora
					en los procesos de reciclaje en Colombia y en el mundo.</p>

					<h6>Objetivos Empresariales</h6>
					<p>Prestar soluciones prácticas, favorables en el sector industrial y comercial
					con beneficios ambientales para el manejo adecuado de materiales reciclables,
					Contamos con una infraestructura que nos permite participar en proyectos
					para el manejo de residuos sólidos en diferentes sectores.
					Apoyamos en la solución de problemas ambientales y desarrollo sostenible
					en los procesos garantizando el menor impacto posible al medio ambiente.</p>

					<h6>Nuestros Valores</h6>
					<ul>
						<li>Medio Ambiente. El compromiso de nuestra compañía con su entorno, se
						manifiesta en sus actuaciones y en el modo realizar las actividades y procesos,
						siempre enfatizando los efectos ambientales en el desarrollo de los
						mismos.</li>
						<li>Honestidad: La transparencia, el diálogo y la colaboración son la base de
						todas nuestras actuaciones.</li>
						<li>Liderazgo: La innovación y la capacidad para dar no solo un servicio sino
						ofrecer una solución integral con capacitación y recomendaciones en el
						buen proceso permiten ser una compañía de referencia que marca tendencias
						innovadoras en el sector empresarial</li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="row">
						<img src="{% static 'recicladora/assets/img/noso_1.jpg' %}" alt="">
					</div>
					<div class="row noso_img">
						<img src="{% static 'recicladora/assets/img/noso_2.jpg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="parallax-nosotros"></section>

	<section class="no-parallax">
		<img class="no-parallax-img" src="{% static 'recicladora/assets/img/par_4.jpg' %}" alt="">
	</section>

	<footer>
		<div class="container footer-grande">
			<div class="row">
				<div class="col-md-5">
				<div class="row">
					<a href="#"><img id="logo-footer" src="{% static 'recicladora/assets/img/logo_2.png' %}" alt="Centro de Acopio Villa Hermosa"></a></div>
					<div class="row">
						<div id="desarrolladoPor"><span><p>Desarrollado por:</p></span>
							<span><a href="#"><img src="{% static 'recicladora/assets/img/logo_pmd.svg' %}" alt="Centro de Acopio Villa Hermosa"></a></span>
						</div>
					</div>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-5">
					<ul class="contacto-footer">
						<a href="tel:+573209042934"><li class="icon-what"> <span> + 57 320 904 2934 </span></li></a>
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><li class="icon-face"> <span> RecicladoraVillaHermosa </span></li></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><li class="icon-insta"> <span> Recicladora_Villa_Hermosa </span></li></a>
						<a href="https://twitter.com/recicladora2" target="_blank"><li class="icon-twi"> <span> @recicladora2 </span></li></a>
						<a href="https://www.youtube.com/channel/UCvoWJWe_-9oYz__GDFuj8uQ" target="_blank"><li class="icon-you"> <span> Centro de Acopio Villa Hermosa </span></li></a>
					</ul>
			</div>


			</div>

		</div>

		<div class="container footer-peque">
			<div class="row">
				<div class="col-md-5">
					<ul class="contacto-footer">
						<a href="tel:+573209042934"><li class="icon-what"> <span> + 57 320 904 2934 </span></li></a>
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><li class="icon-face"> <span> RecicladoraVillaHermosa </span></li></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><li class="icon-insta"> <span> Recicladora_Villa_Hermosa </span></li></a>
						<a href="https://twitter.com/recicladora2" target="_blank"><li class="icon-twi"> <span> @recicladora2 </span></li></a>
						<a href="https://www.youtube.com/channel/UCvoWJWe_-9oYz__GDFuj8uQ" target="_blank"><li class="icon-you"> <span> Centro de Acopio Villa Hermosa </span></li></a>
					</ul>

				</div>

				<div class="col-md-2"></div>
				<div class="col-md-5">

					<div class="row">
						<a href="#"><img id="logo-footer" src="{% static 'recicladora/assets/img/logo_2.png' %}" alt="Centro de Acopio Villa Hermosa"></a></div>
						<div class="row">
							<div id="desarrolladoPor"><span><p>Desarrollado por:</p></span>
								<span><a href="#"><img src="{% static 'recicladora/assets/img/logo_pmd.svg' %}" alt="Centro de Acopio Villa Hermosa"></a></span>
							</div>
						</div>
			</div>



			</div>

		</div>

	</footer>


</body>
</html>
