{% load static %}

<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Eduardo Saavedra">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="{% static 'recicladora/assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'recicladora/assets/js/script.js' %}"></script>


	<link rel="stylesheet" href="{% static 'recicladora/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'recicladora/assets/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'recicladora/assets/css/style.css' %}">
	<title>Centro de Acopio Villa Hermosa</title>

</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<a href="#"><img src="{% static 'recicladora/assets/img/logo.png' %}" alt="Centro de Acopio Villa Hermosa"></a>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<nav class="navbar navbar navbar-expand-lg navbar-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggler">
						<ul class="nav">
							<li class=""><a href="{% url 'index' %}"> Inicio </a></li>
							<li><a href="{% url 'servicios' %}"> Servicios </a></li>
							<li><a href="{% url 'como_reciclar' %}"> Cómo Reciclar </a></li>
							<li><a href="{% url 'galeria' %}"> Galería </a></li>
							<li><a href="{% url 'nosotros' %}"> Nosotros </a></li>
							<li><a href="{% url 'contacto' %}"> Contácto </a></li>
						</ul>
					</div>
					<div class="social">
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><img src="{% static 'recicladora/assets/img/fb-logo.png' %}" alt="Facebook"></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><img src="{% static 'recicladora/assets/img/ig-logo.png' %}" alt="Instagram"></a>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Compra y Venta de:</h3>
					<p><b>Materiales:</b> Materiales férricos, saldos industriales, y minería industrial, Hierro, colado, chatarra, aluminio,
					hojalatas, aceros y aluminios de unos </br> aeronáutico, cobre, bronce, estaño, níquel, acero, plata,
					antimonio etc.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_1.jpg' %}" alt="">
				</div>
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_2.jpg' %}" alt="">
				</div>
			</div>
			<div class="row services-img">
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_3.jpg' %}" alt="">
				</div>
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_4.jpg' %}" alt="">
				</div>
			</div>

			<div class="row services-img">
				<div class="col-md-12">
					<p><b>Equipos industriales:</b> en general que hayan superado su vida útil, que sea obsoletos de diferentes </br>
					procesos como troqueladoras, inyectoras, tornos, fresas, plegadoras, en general todo tipo de equipo
					y accesorios etc.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_5.jpg' %}" alt="">
				</div>
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_6.jpg' %}" alt="">
				</div>
			</div>

			<div class="row services-img">
				<div class="col-md-12">
					<p><b>Electrodomésticos:</b> Neveras, lavadoras, tv, equipos, computadores, portátiles, microondas, licuadoras,
					radios, grabadoras, relojes, todo tipo de electrodomésticos, etc.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_7.jpg' %}" alt="">
				</div>
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_8.jpg' %}" alt="">
				</div>
			</div>

			<div class="row services-img">
				<div class="col-md-12">
					<p><b>Papel:</b> Archivo, cartón, cuádrenos, libros, enciclopedias, revistas, cajas de
					cartón, cartulinas, periódicos, etc.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_9.jpg' %}" alt="">
				</div>
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_10.jpg' %}" alt="">
				</div>
			</div>

			<div class="row services-img">
				<div class="col-md-12">
					<p><b>Plásticos:</b> PET, Botellas de bebida, tarros de aseo, galones, tapas plásticas,
					Valdés, tinas, canastillas y gaseosa etc.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_11.jpg' %}" alt="">
				</div>
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_12.jpg' %}" alt="">
				</div>
			</div>

			<div class="row services-img">
				<div class="col-md-12">
					<p><b>Vidrios:</b> licores, botellas colonias, cosméticos, frascos, envases, etc.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_13.jpg' %}" alt="">
				</div>
				<div class="col-md-6 col-6">
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_14.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="destruccion">
		<div class="container">
			<div class="row verdecito">
				<div class="col-md-9">
					<h3>Destrucción de archivos:</h3>
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_15.jpg' %}" alt="">
				</div>
				<div class="col-md-3 marginsites">
					<p class="marginsite">Nuestro interés es
						brindarle el optimo
						servicio a nuestros
						clientes, manejando de una
						manera segura su archivo,
						garantizando una política
						de confidencialidad en el
						manejo de este hasta su
						disposición final, contamos
						para esto con la maquinaria
						y tecnologia optima, y el
						personal calificado para la
						destrucción y disposición
						de estos materiales</p>
				</div>

			</div>

			<div class="row verdecito verde_top">
				<div class="col-md-9">
					<h3>Recolección a domicilio:</h3>
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_16.jpg' %}" alt="">
				</div>
				<div class="col-md-3">
					<p class="marginsite">Contamos con el servicio
							de recolección a domicilio,
							diferentes vehículos para
							hacer la respectiva
							recolección de sus
							materiales hasta nuestras
							modernas instalaciones
							para hacer el respectivo
							manejo</p>
				</div>
			</div>

			<div class="row verde_top">
				<div class="col-md-9">
					<h3>Capacitaciones, Asesorías y Acompañamiento:</h3>
					<img class="img-fluid" src="{% static 'recicladora/assets/img/serv_17.jpg' %}" alt="">
				</div>
				<div class="col-md-3 marginsites">
					<p class="marginsite">El centro de acopio villa
						hermosa, cuenta con el
						respectivo personal técnico
						para capacitar al equipo de
						su empresa, edificios,
						conjuntos residenciales,
						entidades, instituciones
						educativas, y demás, para
						buscar la sensibilización y
						concientización de las
						respectivos problemas
						ambientales en nuestro
						país en el manejo de
						basuras, clasificación de
						residuos y el reciclaje
						como un deber que nos
						corresponde a todas las
						personas del planeta.</p>
				</div>

			</div>


		</div>

	</section>

	<section class="parallax-servicios">	</section>
	<section class="no-parallax">
		<img class="no-parallax-img" src="{% static 'recicladora/assets/img/par_2.jpg' %}" alt="">
	</section>


	<footer>
		<div class="container footer-grande">
			<div class="row">
				<div class="col-md-5">
				<div class="row">
					<a href="#"><img id="logo-footer" src="{% static 'recicladora/assets/img/logo_2.png' %}" alt="Centro de Acopio Villa Hermosa"></a></div>
					<div class="row">
						<div id="desarrolladoPor"><span><p>Desarrollado por:</p></span>
							<span><a href="#"><img src="{% static 'recicladora/assets/img/logo_pmd.svg' %}" alt="Centro de Acopio Villa Hermosa"></a></span>
						</div>
					</div>
				</div>

				<div class="col-md-2"></div>
				<div class="col-md-5">
					<ul class="contacto-footer">
						<a href="tel:+573209042934"><li class="icon-what"> <span> + 57 320 904 2934 </span></li></a>
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><li class="icon-face"> <span> RecicladoraVillaHermosa </span></li></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><li class="icon-insta"> <span> Recicladora_Villa_Hermosa </span></li></a>
						<a href="https://twitter.com/recicladora2" target="_blank"><li class="icon-twi"> <span> @recicladora2 </span></li></a>
						<a href="https://www.youtube.com/channel/UCvoWJWe_-9oYz__GDFuj8uQ" target="_blank"><li class="icon-you"> <span> Centro de Acopio Villa Hermosa </span></li></a>
					</ul>
			</div>


			</div>

		</div>

		<div class="container footer-peque">
			<div class="row">
				<div class="col-md-5">
					<ul class="contacto-footer">
						<a href="tel:+573209042934"><li class="icon-what"> <span> + 57 320 904 2934 </span></li></a>
						<a href="https://www.facebook.com/Recicladora-Villa-Hermosa-570114590003297/" target="_blank"><li class="icon-face"> <span> RecicladoraVillaHermosa </span></li></a>
						<a href="https://www.instagram.com/recicladora_villa_hermosa/" target="_blank"><li class="icon-insta"> <span> Recicladora_Villa_Hermosa </span></li></a>
						<a href="https://twitter.com/recicladora2" target="_blank"><li class="icon-twi"> <span> @recicladora2 </span></li></a>
						<a href="https://www.youtube.com/channel/UCvoWJWe_-9oYz__GDFuj8uQ" target="_blank"><li class="icon-you"> <span> Centro de Acopio Villa Hermosa </span></li></a>
					</ul>

				</div>

				<div class="col-md-2"></div>
				<div class="col-md-5">

					<div class="row">
						<a href="#"><img id="logo-footer" src="{% static 'recicladora/assets/img/logo_2.png' %}" alt="Centro de Acopio Villa Hermosa"></a></div>
						<div class="row">
							<div id="desarrolladoPor"><span><p>Desarrollado por:</p></span>
								<span><a href="#"><img src="{% static 'recicladora/assets/img/logo_pmd.svg' %}" alt="Centro de Acopio Villa Hermosa"></a></span>
							</div>
						</div>
			</div>



			</div>

		</div>

	</footer>


</body>
</html>
